html, body {
  margin: 0px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.newtab {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #000;
}
.data {
  background-color: #fff;
  border-bottom-right-radius: 10px;
  padding: 10px 50px 10px 20px;
  width: fit-content;
  border: 1px solid #ddd;
  color: #777;
}
.tiny {
  font-size: 10px;
  padding-top: 6px;
  border-top: 1px solid #ddd; 
}
.tiny a  {
  text-decoration: none;
  color: #777;
}
.tiny a:hover { text-decoration: underline; }

.popup { 
  min-width:200px; 
  padding: 20px;
}


@media only screen and (max-width: 600px) {
  h1 { 
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 14px;
  }
  .newtab .data { 
      border-bottom-right-radius: 0px;
      background-color: rgba(220,220,220,0.9);
      padding: 6px 20px 6px 6px;
    }

  .newtab .tiny { 
      font-style: 8px;
      padding-top: 0px; 
    }

  .newtab .data p {
      margin-block-start: 0em;
      margin-block-end: 0em;
    }
}